@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-ctp-rosewater: hsl(11, 59%, 67%);
  --color-ctp-flamingo: hsl(0, 60%, 67%);
  --color-ctp-pink: hsl(316, 73%, 69%);
  --color-ctp-mauve: hsl(266, 85%, 58%);
  --color-ctp-red: hsl(347, 87%, 44%);
  --color-ctp-maroon: hsl(355, 76%, 59%);
  --color-ctp-peach: hsl(22, 99%, 52%);
  --color-ctp-yellow: hsl(35, 77%, 49%);
  --color-ctp-green: hsl(109, 58%, 40%);
  --color-ctp-teal: hsl(183, 74%, 35%);
  --color-ctp-sky: hsl(197, 97%, 46%);
  --color-ctp-sapphire: hsl(189, 70%, 42%);
  --color-ctp-blue: hsl(220, 91%, 54%);
  --color-ctp-lavender: hsl(231, 97%, 72%);
  --color-ctp-text: hsl(234, 16%, 35%);
  --color-ctp-subtext1: hsl(233, 13%, 41%);
  --color-ctp-subtext0: hsl(233, 10%, 47%);
  --color-ctp-overlay2: hsl(232, 10%, 53%);
  --color-ctp-overlay1: hsl(231, 10%, 59%);
  --color-ctp-overlay0: hsl(228, 11%, 65%);
  --color-ctp-surface2: hsl(227, 12%, 71%);
  --color-ctp-surface1: hsl(225, 14%, 77%);
  --color-ctp-surface0: hsl(223, 16%, 83%);
  --color-ctp-base: hsl(220, 23%, 95%);
  --color-ctp-mantle: hsl(220, 22%, 92%);
  --color-ctp-crust: hsl(220, 21%, 89%);
}
.dark {
  --color-ctp-rosewater: hsl(10, 58%, 90%);
  --color-ctp-flamingo: hsl(0, 58%, 86%);
  --color-ctp-pink: hsl(316, 74%, 85%);
  --color-ctp-mauve: hsl(267, 83%, 80%);
  --color-ctp-red: hsl(351, 74%, 73%);
  --color-ctp-maroon: hsl(355, 71%, 77%);
  --color-ctp-peach: hsl(21, 86%, 73%);
  --color-ctp-yellow: hsl(40, 70%, 78%);
  --color-ctp-green: hsl(105, 48%, 72%);
  --color-ctp-teal: hsl(171, 47%, 69%);
  --color-ctp-sky: hsl(189, 59%, 73%);
  --color-ctp-sapphire: hsl(199, 66%, 69%);
  --color-ctp-blue: hsl(220, 83%, 75%);
  --color-ctp-lavender: hsl(234, 82%, 85%);
  --color-ctp-text: hsl(227, 68%, 88%);
  --color-ctp-subtext1: hsl(228, 39%, 80%);
  --color-ctp-subtext0: hsl(227, 27%, 72%);
  --color-ctp-overlay2: hsl(228, 20%, 65%);
  --color-ctp-overlay1: hsl(228, 15%, 57%);
  --color-ctp-overlay0: hsl(230, 12%, 49%);
  --color-ctp-surface2: hsl(230, 14%, 41%);
  --color-ctp-surface1: hsl(231, 16%, 34%);
  --color-ctp-surface0: hsl(230, 19%, 26%);
  --color-ctp-base: hsl(232, 23%, 18%);
  --color-ctp-mantle: hsl(233, 23%, 15%);
  --color-ctp-crust: hsl(236, 23%, 12%);
}

body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 1.7;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--ctp-black));
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
