---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>About me</h1>
  <p>
    Yo prefiero no subir el IVA en 2013 pero también le digo que si en ese
    momento es bueno subir el IVA lo haré y haré cualquier cosa aunque no me
    guste y haya dicho que no lo voy a hacer. ¡Viva el vino! No pienso dar ni un
    solo euro de dinero público a los bancos. Las medidas que tomamos hacen daño
    a la gente pero son imprescindibles. Todo lo que se ha publicado es falso
    salvo alguna cosa que es lo que han publicado los medios de comunicación.
    Esto no es como el agua que cae del cielo sin que se sepa exactamente por
    qué. Porque después del año 14 viene el año 15. Las decisiones se toman en
    el momento de tomarse. No tocaré sanidad ni la educación. La cerámica de
    Talavera no es cosa menor dicho de otra forma: es cosa mayor. Dije que
    bajaría los impuestos y los estoy subiendo. ¡Venga ya toma democracia! It's
    very difficult todo esto. Sobre si conocía donaciones anónimos o no anónimos
    en efectivo al partido: “Jamás”. Está lloviendo lloviendo mucho. Siempre
    estaré detrás de ti o delante o a un lado.La desconfianza de los
    inversobres.Fin de la cita. ¿Ustedes piensan antes de hablar o hablan tras
    pensar?. Sobre los sobresueldos en sobres: “Son absolutamente falsos.
    Cobrábamos un sueldo como diputados y algún complemento del partido que se
    abonaba a Hacienda pero luego dejamos de percibirlo porque eso no se podía
    hacer”. Cuanto más sepáis de todo mejor. Por saber muchísimo no os va a
    pasar nada malo luego ya veremos. Si uno es ingeniero o futbolista se le
    abren todas las puertas del mundo. Por las carreteras tienen que ir coches y
    de los aeropuertos tienen que salir aviones. Lo entiendo Luis, sé fuerte.
  </p>
</BaseLayout>
