---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import imgPath from "../assets/profile.png";
import BlogCardList from "../components/BlogCardList.astro";
import RecentProjects from "../components/RecentProjects.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<BaseLayout>
  <div class="max-w-4xl mx-auto text-center">
    <div class="mb-8">
      <Image
        src={imgPath}
        alt="Diego's profile picture"
        class="rounded-full mx-auto mb-6 shadow-lg border-4 border-ctp-overlay1"
        style="max-width: 300px; width: 100%; height: auto;"
      />

      <h1 class="text-4xl md:text-6xl font-bold">
        Hi, I'm <span class="text-ctp-blue">Diego</span>!
      </h1>
      <div class="text-xl md:text-2xl t mt-3">
        <span>I'm a </span>
        <span
          id="typewriter"
          class="text-ctp-blue font-semibold inline-block text-left"></span>
        <span class="animate-pulse text-ctp-blue">|</span>
      </div>
    </div>
    <SocialLinks />
  </div>
  <RecentProjects limit={3} />

  <script type="module">
    const roles = [
      "developer.",
      "software engineer.",
      "computer scientist.",
      "passionate coder.",
      "problem solver.",
      "data scientist.",
      "AI enthusiast.",
      "researcher.",
      "game developer.",
      "python fan.",
      "Linux enjoyer.",
      "open source enthusiast.",
      "efficient systems seeker.",
      "personal projects creator.",
      "tech lover.",
      "really nerd person.",
      "curious mind.",
      "lifelong learner.",
      "creative thinker.",
      "ambitious innovator.",
      "in-progress polymath.",
      "musician.",
      "composer.",
      "posts writer.",
    ];
    let roleIndex = 0;
    let charIndex = 0;
    let isDeleting = false;

    const el = document.getElementById("typewriter");

    function type() {
      const current = roles[roleIndex];
      const displayed = current.substring(0, charIndex);
      el.textContent = displayed;

      if (!isDeleting && charIndex < current.length) {
        charIndex++;
        setTimeout(type, 100);
      } else if (isDeleting && charIndex > 0) {
        charIndex--;
        setTimeout(type, 50);
      } else {
        if (!isDeleting) {
          isDeleting = true;
          setTimeout(type, 1000);
        } else {
          isDeleting = false;
          roleIndex = (roleIndex + 1) % roles.length;
          setTimeout(type, 300);
        }
      }
    }

    document.addEventListener("DOMContentLoaded", () => {
      if (el) type();
    });
  </script>
</BaseLayout>

