---
import {
  getCollection,
  type InferEntrySchema,
  type RenderedContent,
} from "astro:content";
import Card from "./Card.astro";

const collection = Astro.props.collection;
const limit = Astro.props.limit || 0;

// Get the title of the collection from the props
const collectionTitle =
  collection.charAt(0).toUpperCase() + collection.slice(1);

const posts: {
  [x: string]: any;
  id: string;
  body?: string;
  collection: typeof collection;
  data: InferEntrySchema<"blog">;
  rendered?: RenderedContent;
  filePath?: string;
}[] = await getCollection(collection);

// Sort posts by publication date in descending order
posts.sort((a, b) => {
  return (
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
});
---

<section class="px-4 md:px-8 py-10">
  <header class="text-center mb-12">
    <h1 class="text-4xl md:text-5xl font-bold text-ctp-text mb-4">
      {collectionTitle}
    </h1>
  </header>
  <div
    class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
  >
    {
      posts.map((post) =>
        // If limit is set, only sho¡w the first `limit` posts
        limit > 0 && posts.indexOf(post) >= limit ? null : (
          // Render the Card component for each post
          <Card
            post={{
              ...post,
              data: {
                ...post.data,
                pubDate: post.data.pubDate?.toISOString().split("T")[0] || "",
                heroImage:
                  typeof post.data.heroImage === "string"
                    ? post.data.heroImage
                    : post.data.heroImage?.src || "",
                tags: Array.isArray(post.data.tags) ? post.data.tags : [],
                collection: post.collection || "",
              },
            }}
            collection={post.collection}
            putCollectionTag={false}
          />
        )
      )
    }
  </div>
</section>
