---
import {
  getCollection,
  type InferEntrySchema,
  type RenderedContent,
} from "astro:content";
import Card from "./Card.astro";
import MotionCard from "./MotionCard";
import { collectionsKeys } from "../content.config";

const collectionName = Astro.props.collection ? Astro.props.collection : "";

const collectionTitle =
  collectionName.charAt(0).toUpperCase() + collectionName.slice(1);

const entries = (
  await Promise.all(
    collectionsKeys.map((key) =>
      getCollection(key).then((posts) =>
        posts.map((post) => ({
          ...post,
        }))
      )
    )
  )
)
  .flat()
  .filter(
    collectionName !== ""
      ? (entry: { collection: any }) => entry.collection === collectionName
      : () => true
  );

const { limit } = Astro.props;

const allPosts = entries.flat();

const sortedPosts = allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate || 0).getTime();
  const dateB = new Date(b.data.pubDate || 0).getTime();
  return dateB - dateA;
});

const posts = sortedPosts.slice(0, limit);
---

<section class="px-4 md:px-8 py-10">
  <header class="text-center mb-12">
    <h1 class="text-4xl md:text-5xl font-bold text-ctp-text mb-4">
      {collectionTitle ? `${collectionTitle}` : "Recent Posts"}
    </h1>
  </header>
  <div
    class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
  >
    {
      posts.map((post) =>
        // If limit is set, only sho¡w the first `limit` posts
        limit > 0 && posts.indexOf(post) >= limit ? null : (
          // Render the Card component for each post
          <MotionCard client:visible>
            <Card
              post={{
                ...post,
                data: {
                  ...post.data,
                  pubDate: post.data.pubDate?.toISOString().split("T")[0] || "",
                  heroImage:
                    typeof post.data.heroImage === "string"
                      ? post.data.heroImage
                      : post.data.heroImage?.src || "",
                  tags: Array.isArray(post.data.tags) ? post.data.tags : [],
                  collection: post.collection || "",
                },
              }}
              collection={post.collection}
              putCollectionTag={Astro.props.collection ? false : true}
            />
          </MotionCard>
        )
      )
    }
  </div>
</section>
