---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer>
  <p>&copy; {today.getFullYear()} Diego López Reduello. All rights reserved.</p>
  <SocialLinks />
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: var(--ctp-surface1);
    color: rgb(var(--white));
    text-align: center;
  }
</style>
