---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer class="px-4 pt-8 pb-24 text-center text-ctp-text bg-ctp-base">
  <p>&copy; {today.getFullYear()} Diego López Reduello. All rights reserved.</p>
  <SocialLinks />
</footer>
