---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href = "/", class: className, ...props } = Astro.props;

// Comparación para resaltar link activo
const currentPath = Astro.url.pathname;
const isActive = currentPath === href;
---

<a
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
  class="bg-ctp-surface1 text-ctp-text hover:bg-ctp-overlay2 hover:text-ctp-base m-1.5 flex rounded-3xl p-3 transition-all duration-200 hover:scale-110 active:scale-95"
>
  <slot />
  {currentPath} === {href}
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }

  a.active {
    background: var(--color-ctp-blue);
    color: var(--color-ctp-base);
  }
</style>
