---
// src/components/SocialLinks.astro
import { socialLinks } from "../consts";
---

<div class="social-links">
  {
    socialLinks.map(({ href, label, icon }) => (
      <a href={href} target="_blank" aria-label={label}>
        <span class="sr-only">{label}</span>
        <div
          class="hover:scale-110 hover:text-ctp-blue hover:-translate-y-1/6 shadow-2xl shadow-ctp-blue/20 transition-transform duration-100 ease-in-out flex w-10 h-10 items-center justify-center"
          set:html={icon}
        />
      </a>
    ))
  }
</div>
<style>
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
</style>
