---
// src/components/SocialLinks.astro
import { socialLinks } from "../consts";
---

<div class="social-links">
  {
    socialLinks.map(({ href, label, icon }) => (
      <a href={href} target="_blank" aria-label={label}>
        <span class="sr-only">{label}</span>
        <div set:html={icon} />
      </a>
    ))
  }
</div>
<style>
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
</style>
